NODE_ENV=development
SESSION_KEY=dette-er-en-lang-og-sikker-streng-for-signering-av-session-cookies
AUTH_REDIRECT_URI=http://localhost:8080/oauth2/callback
INTERNARBEIDSFLATEDECORATOR_HOST=internarbeidsflatedecorator-q1.dev.intern.nav.no
MODIACONTEXTHOLDER_HOST=https://modiacontextholder-q1.dev.adeo.no
MODIACONTEXTHOLDER_AAD_APP_CLIENT_ID=modiacontextholder
FASTLEGEREST_HOST=https://fastlegerest.intern.dev.nav.no
FASTLEGEREST_AAD_APP_CLIENT_ID=fastlegerest
SYFOPERSON_HOST=https://syfoperson.intern.dev.nav.no
SYFOPERSON_AAD_APP_CLIENT_ID=dev-gcp.teamsykefravr.syfoperson
ISTILGANGKONTROLL_HOST=https://istilgangskontroll.dev.intern.nav.no
ISTILGANGSKONTROLL_AAD_APP_CLIENT_ID=istilgangskontroll
LOG_LEVEL=debug
